
$(info --> Reading configuration from $(lastword $(MAKEFILE_LIST)))

# ============================================================================
# *** Configuration template for the ec-conf tool
# ============================================================================

COUPLE := [[[PLT:ACTIVE:ECEARTH_SRC_DIR]]]/oasis3-mct

# CHAN : MPI1/MPI2
CHAN   := MPI1

# MPI library
MPI_INCLUDE := [[[PLT:ACTIVE:MPI_INC_DIR]]]
MPILIB      := [[[PLT:ACTIVE:MPI_LIB_DIR]]] [[[PLT:ACTIVE:MPI_LIBS]]]

# NETCDF library
NETCDF_INCLUDE  := [[[PLT:ACTIVE:NETCDF_INC_DIR]]]
NETCDF_LIBRARY  := [[[PLT:ACTIVE:NETCDF_LIB_DIR]]] [[[PLT:ACTIVE:NETCDF_LIBS]]]
NETCDFF_INCLUDE  := [[[PLT:ACTIVE:NETCDFF_INC_DIR]]]
NETCDFF_LIBRARY  := [[[PLT:ACTIVE:NETCDFF_LIB_DIR]]] [[[PLT:ACTIVE:NETCDFF_LIBS]]]


# Compiling and other commands
MAKE    := [[[PLT:ACTIVE:MAKE]]]
F90     := [[[PLT:ACTIVE:FC]]] [[[PLT:ACTIVE:FFLAGS_FREEFORM]]]
F       := [[[PLT:ACTIVE:FC]]] [[[PLT:ACTIVE:FFLAGS_FIXEDFORM]]]
f90     := $(F90)
f       := $(F)
CC      := [[[PLT:ACTIVE:CC]]]
LD      := [[[PLT:ACTIVE:LD]]]
AR      := [[[PLT:ACTIVE:AR]]]
ARFLAGS := [[[PLT:ACTIVE:ARFLAGS]]]

# CPP/FPP macros
MACROS   := use_libMPI use_comm_$(CHAN) use_netCDF TREAT_OVERLAY

# Compiler options
F90FLAGS := [[[PLT:ACTIVE:FFLAGS]]]
F90FLAGS += [[[PLT:ACTIVE:OASIS_ADD_FFLAGS]]]
F90FLAGS += $(addprefix -D,$(MACROS))
F90FLAGS += $(MPI_INCLUDE)
F90FLAGS += $(NETCDF_INCLUDE)
F90FLAGS += $(NETCDFF_INCLUDE)

f90FLAGS := $(F90FLAGS)
FFLAGS   := $(F90FLAGS)
fFLAGS   := $(F90FLAGS)

CCFLAGS  := [[[PLT:ACTIVE:CFLAGS]]]
CCFLAGS  += $(addprefix -D,$(MACROS))
CCFLAGS  := $(MPI_INCLUDE)
CCFLAGS  += $(NETCDF_INCLUDE)
CCFLAGS  += $(NETCDFF_INCLUDE)


LDFLAGS  := [[[PLT:ACTIVE:LDFLAGS]]]

# MPP_IOOPT needed for compiling mpp_io
MPP_IOOPT :=
