util/make_dir/COMP.err
util/make_dir/COMP.log
util/make_dir/COMP-shared.err
util/make_dir/COMP-shared.log
util/make_dir/COMP-pyoasis.err
util/make_dir/COMP-pyoasis.log
*.o
*.mod
*~
examples/test_interpolation/model1
examples/test_interpolation/model2
examples/test_interpolation/test_interpolation_*
doc/*.aux
doc/*.cb
doc/*.cb2
doc/*.idx
doc/*.log
doc/*.toc
arch_ecearth
util/make_dir/make.ece.inc


build/
lib/libmct.a
lib/libmpeu.a
lib/libpsmile.a
lib/libscrip.a
