__pycache__
.idea
docs/_build
tests/*/work/
examples/*/work
examples/*/sender-apple
examples/*/receiver
examples/*/nonactive
examples/*/xios
examples/*/*/work
examples/*/*/receiver
examples/*/*/receiver-orange
examples/*/*/receiver_one
examples/*/*/receiver_two
examples/*/*/receiver-serial
examples/*/*/sender-serial
examples/*/*/sender-apple
examples/*/*/sender-box
examples/*/*/sender-orange
examples/*/*/sender-points
examples/*/*/sendrecv-orange
examples/*/*/writer
examples/*/*/non_oasis
examples/*/test_output.txt
examples/*/*/test_output.txt
*.dSYM
